In [8]:
import pandas as pd

In [9]:
from sklearn.preprocessing import MinMaxScaler

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
from sklearn.neighbors import KNeighborsClassifier

In [13]:
from sklearn.metrics import confusion_matrix

In [14]:
from sklearn.metrics import classification_report

In [15]:
df = pd.read_csv("500hits.csv",encoding='latin-1')

In [16]:
df.head()

,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA,HOF
0,Ty Cobb,24,3035,11434,2246,4189,724,295,117,726,1249,357,892,178,0.366,1
1,Stan Musial,22,3026,10972,1949,3630,725,177,475,1951,1599,696,78,31,0.331,1
2,Tris Speaker,22,2789,10195,1882,3514,792,222,117,724,1381,220,432,129,0.345,1
3,Derek Jeter,20,2747,11195,1923,3465,544,66,260,1311,1082,1840,358,97,0.310,1
4,Honus Wagner,21,2792,10430,1736,3430,640,252,101,0,963,327,722,15,0.329,1

In [17]:
df.drop(columns=['PLAYER','CS'],inplace=True)

In [18]:
df.head()

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,BA,HOF
0,24,3035,11434,2246,4189,724,295,117,726,1249,357,892,0.366,1
1,22,3026,10972,1949,3630,725,177,475,1951,1599,696,78,0.331,1
2,22,2789,10195,1882,3514,792,222,117,724,1381,220,432,0.345,1
3,20,2747,11195,1923,3465,544,66,260,1311,1082,1840,358,0.310,1
4,21,2792,10430,1736,3430,640,252,101,0,963,327,722,0.329,1

In [23]:
X = df.iloc[:,0:-2]

In [24]:
X.head()

   YRS     G     AB     R     H   2B   3B   HR   RBI    BB    SO   SB
0   24  3035  11434  2246  4189  724  295  117   726  1249   357  892
1   22  3026  10972  1949  3630  725  177  475  1951  1599   696   78
2   22  2789  10195  1882  3514  792  222  117   724  1381   220  432
3   20  2747  11195  1923  3465  544   66  260  1311  1082  1840  358
4   21  2792  10430  1736  3430  640  252  101     0   963   327  722

In [27]:
y = df["HOF"]

In [28]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: HOF, dtype: int64

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=5,test_size=0.2)

In [39]:
scaler = MinMaxScaler(feature_range=(0,1))

In [40]:
X_train = scaler.fit_transform(X_train)

In [41]:
X_test = scaler.transform(X_test)

In [48]:
knn =KNeighborsClassifier(n_neighbors=9)

In [49]:
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=9)

In [50]:
y_pred = knn.predict(X_test)

In [51]:
y_pred

array([0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0], dtype=int64)

In [52]:
knn.score(X_test,y_test)

0.8064516129032258

In [54]:
cm = confusion_matrix(y_test,y_pred)

In [55]:
cm

array([[62,  5],
       [13, 13]], dtype=int64)

In [61]:
cr = classification_report(y_test,y_pred)

In [62]:
cr

'              precision    recall  f1-score   support\n\n           0       0.83      0.93      0.87        67\n           1       0.72      0.50      0.59        26\n\n    accuracy                           0.81        93\n   macro avg       0.77      0.71      0.73        93\nweighted avg       0.80      0.81      0.79        93\n'

In [64]:
print(knn.n_samples_fit_)

372